@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: 0;
}
body-html {
  height: 100%; /* Đảm bảo chiều cao toàn bộ trang */
}
a {
  text-decoration: none;
}
.chucnang {
  color: #333;
  font-size: 18px;
  padding: 10px;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  background-color: #ffffff;
  z-index: 1000;
}
.linkchucnang {
    text-decoration: none;
    background-color: #f4f4f4;
    margin-right: 1%;
    gap: 25px;
    top: 100%;
    list-style-type: none; /* Loại bỏ dấu chấm cho danh sách không có thứ tự */
  display: flex;
  justify-content: flex-end;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/bg.jpeg);
    background-position: bottom; /* vị trí nền */
    background-size: cover; /* kích cỡ nên */
    display: flex; /* căn chỉnh các phần tử */
    align-items: flex-end;
    justify-content: center; /* căn chỉnh các ptu theo chiều ngang */
}
.header-content {
    font-size: 45px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 3%;
    top: 40%;
    transform: translateY(-50%); /* dịch chuyển các phần tử */
  
}
.p {
    color: aliceblue;
    font-size: 20px; /* kích cỡ */
    position: absolute;
    left: 3%; /* trái 3% */
    top: 50%; /* trên 50% */
}
.inbgr {
    padding: 12px 30px; /* Tạo khoảng cách lớn hơn xung quanh chữ */
  font-size: 18px; /* Kích thước chữ */
  color: white; /* Màu chữ */
  background-color: #f0a500; /* Màu nền của nút */
  border: none; /* Không có đường viền */
  border-radius: 5px; /* Góc bo tròn cho nút */

  cursor: pointer; /* Con trỏ khi hover lên nút */
  text-align: center; /* Căn giữa nội dung chữ */
  display: inline-block; /* Cho phép nút có kích thước phù hợp với chữ */
  transition: background-color 0.3s;
    background-color: #b7b4af;
    position:absolute;
    left: 3%;
    top: 58%;
}
.logo {
  list-style-type: none; /* Loại bỏ dấu chấm */
    margin-right: 1150px; /* khoảng cách giữa các liên kết */
}
selector {
  background-image: url('logo-mxh.png');  /* Đặt logo mạng xã hội vào nền */
  background-position: left top;           /* Căn logo vào góc trái trên cùng */
  background-repeat: no-repeat;           /* Đảm bảo logo không bị lặp lại */
  background-size: 50px 50px;             /* Điều chỉnh kích thước logo (có thể thay đổi kích thước theo nhu cầu) */
}
.logono1 {
  width : 120px;
  height: 0,1px;                     /* Chiều cao của phần tử */
  background-color: rgb(103, 98, 98);       /* Màu nền của phần tử */
  background-image: url('logo-mxh.png'); /* Đặt logo vào nền */
  background-size: 400px 400px;        /* Kích thước logo nhỏ, bạn có thể điều chỉnh kích thước logo */
  padding: 20px;
  position: absolute; /* Đặt phần tử ở vị trí tuyệt đối */
  left: 0; /* Đẩy phần tử về phía bên trái */
}