@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: 0;
}
.chucnang {
  padding: 10px;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  background-color: #ffffff;
  z-index: 1000;
}
.link-chucnang {
    margin-right: 1%;
    gap: 25px;
    top: 100%;
    list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/bg.jpeg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    font-size: 45px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 3%;
    top: 40%;
    transform: translateY(-50%);
  
}
.p {
    color: aliceblue;
    font-size: 20px;
    position: absolute;
    left: 3%;
    top: 50%;
}
.inbgr {
    padding: 12px 30px; /* Tạo khoảng cách lớn hơn xung quanh chữ */
  font-size: 18px; /* Kích thước chữ */
  color: white; /* Màu chữ */
  background-color: #f0a500; /* Màu nền của nút */
  border: none; /* Không có đường viền */
  border-radius: 5px; /* Góc bo tròn cho nút */
  cursor: pointer; /* Con trỏ khi hover lên nút */
  text-align: center; /* Căn giữa nội dung chữ */
  display: inline-block; /* Cho phép nút có kích thước phù hợp với chữ */
  transition: background-color 0.3s;
    background-color: #b7b4af;
    position:absolute;
    left: 3%;
    top: 58%;
}